/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", Helvetica, Arial, sans-serif;
  background: transparent url(bg.png) repeat;
  color: #787878;
  font-size: 11px;
  line-height: 18px;
  margin: 0px;
  padding: 0px; }

#main {
  margin: 10px; }

a {
  text-decoration: none;
  color: #4b4b4b; }

a:hover {
  text-decoration: none;
  color: #1c1c1c; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Puritan20Normal';
  font-weight: normal;
  color: #4b4b4b;
  margin-bottom: 10px; }

h4 {
  font-size: 16px;
  line-height: 20px;
  padding-bottom: 7px; }

.tour-item {
  background: none;
  background-color: #FFF;
  -webkit-box-shadow: 0px 1px 2px 0px #b7b7b7;
  -moz-box-shadow: 0px 1px 2px 0px #b7b7b7;
  box-shadow: 0px 1px 2px 0px #b7b7b7;
  padding: 15px;
  width: 150px;
  height: 250px;
  margin: 3px 11px 3px 3px;
  float: left; }

#banner {
  background: white url(bg_page.jpg) no-repeat 50% 0; }
  #banner img {
    float: left; }
  #banner #wrapperh {
    width: 760px;
    margin: auto;
    padding: 0px;
    height: 90px; }
  #banner #header {
    position: relative;
    display: block;
    width: 760px;
    height: 62px;
    margin: 0px;
    padding: 0px;
    font: small-caps 40px/40px "Times Mew Roman", serif;
    color: #2F4F4F;
    text-align: center; }
  #banner #nav {
    display: block;
    width: 760px;
    height: 26px;
    margin: 0px;
    padding: 0px;
    list-style: none outside none;
    text-align: center;
    background: url("bg_nav.gif") repeat-x scroll 0% 0% #a13d3d; }
  #banner #nav li {
    float: left;
    width: 150px; }
  #banner #nav li a {
    text-decoration: none;
    display: block;
    padding: 0;
    padding: 0;
    height: 1%;
    line-height: 26px;
    color: #FFF; }
  #banner #nav li.on {
    display: block;
    padding: 0;
    width: 120px;
    height: 26px;
    line-height: 26px;
    background: url(bg_nav_on_2.gif) no-repeat 50% 0;
    color: #EFEFEF; }
  #banner #nav li a:hover {
    background: url(bg_nav_on.gif) no-repeat 50% 0; }

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans- serif; }

.depot_form fieldset {
  background: #efe; }
  .depot_form fieldset legend {
    color: #dfd;
    background: #141;
    font-family: sans-serif;
    padding: 0.2em 1em; }
.depot_form form label {
  width: 5em;
  float: left;
  text-align: right;
  padding-top: 0.2em;
  margin-right: 0.1em;
  display: block; }
.depot_form form select, .depot_form form textarea, .depot_form form input {
  margin-left: 0.5em; }
.depot_form form .submit {
  margin-left: 4em; }
.depot_form form br {
  display: none; }
#city_tour ul {
  list-style: none outside none;
  margin: 5px;
  padding: 10px; }
.wrapper {
  width: 1050px;
  margin: 10px auto 0px;
  height: 290px;
  padding: 0px 15px; }
  .wrapper a {
    text-decoration: none;
    color: #4B4B4B; }
  .wrapper ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px; }
  .wrapper .tour-container {
    width: 970px;
    margin: 10px auto 0px;
    height: 290px;
    padding: 0px 45px;
    position: relative;
    display: block; }
  .wrapper .tour-prev {
    position: absolute;
    top: 120px;
    left: 0px;
    margin-left: 3px;
    width: 15px;
    height: 28px;
    cursor: pointer; }
  .wrapper .tour-next {
    position: absolute;
    top: 120px;
    right: 0px;
    margin-right: 3px;
    width: 15px;
    height: 28px;
    cursor: pointer; }
#tour {
  overflow: hidden; }

#detail {
  display: table-cell;
  margin-right: 20em; }

#tour_detail {
  padding: 5px;
  background: white;
  font-family: 'Puritan20Normal';
  font-weight: normal;
  color: #4B4B4B;
  font-size: 18px; }
  #tour_detail ul {
    list-style: none; }

#sidebar {
  display: table-cell;
  width: 20em;
  float: right;
  text-align: center; }

ul {
  list-style: none outside none;
  margin: 10px;
  padding: 10px; }

#history_tour {
  width: 185px;
  margin: 0px auto 0px;
  height: 288px;
  padding: 0px 0px;
  position: relative;
  display: block; }

#delete_tour {
  position: absolute;
  top: 2px;
  left: 163px;
  margin-left: 3px;
  width: 20px;
  height: 20px; }
  #delete_tour a {
    font: small-caps 20px/20px "Arial", bold; }
.tours table {
  border-collapse: collapse; }
.tours table tr td {
  padding: 5px;
  vertical-align: top; }
.tours .list_ image {
  width: 60px;
  height: 70px; }
.tours .list_description {
  width: 60%; }
  .tours .list_description dl {
    margin: 0; }
  .tours .list_description dt {
    color: #244;
    font-weight: bold;
    font-size: larger; }
  .tours .list_description dd {
    margin: 0; }
.tours .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em; }
.tours .list_line_even {
  background: #e0f8f8; }
.tours .list_line_odd {
  background: #FFE4E1; }
