
      <div class="wrapper">
        <div class="tour-container" >
          <%= content_tag(:div, make_link_prev( @page.to_i, city), class: "tour-prev") %>
             <ul class="tour-list">
                <% for tour in Tour.page(@page, city).includes(:city,:category,:tour_photos) %>
                   <%= render partial: "shared/tour", locals: {tour: tour} %>
                <% end %>
            </ul>
          <%= content_tag(:div,make_link_next( @page.to_i, city), class: "tour-next") %>
        </div>
      </div>