// Place all the styles related to the City_tour controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#city_tour {
  ul {
     list-style: none outside none;
     margin: 5px;
     padding: 10px;
  }
}
