// Place all the styles related to the Excurs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper {
  width: 1050px;
  margin: 10px auto 0px;
  height: 290px;
  padding: 0px 15px;
  a {
    text-decoration: none;
    color: #4B4B4B;
  }
  p {

  }
  ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
  }

  .tour-container {
    width: 970px;
    margin: 10px auto 0px;
    height: 290px;
    padding: 0px 45px;
    position: relative;
    display: block;
  }
  .tour-prev {
    position: absolute;
    top: 120px;
    left: 0px;
    margin-left: 3px;
    width: 15px;
    height: 28px;
    cursor: pointer;
  }
  .tour-next {
    position: absolute;
    top: 120px;
    right: 0px;
    margin-right: 3px;
    width: 15px;
    height: 28px;
    cursor: pointer;
  }
}
