// Place all the styles related to the Tour_detail controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#tour {
  overflow:hidden;

}
#detail {
  display: table-cell;
  margin-right:20em;

}
  #tour_detail {
    padding: 5px;
    background: white;
    font-family: 'Puritan20Normal';
    font-weight: normal;
    color: #4B4B4B;
    font-size: 18px;

    ul {

      list-style: none
    }

  }
  #sidebar {
    display: table-cell;
    width:20em;
    float:right;
    text-align: center;
  }
ul {
  list-style: none outside none;
  margin: 10px;
  padding: 10px;
}
#history_tour {
  width: 185px;
  margin: 0px auto 0px;
  height: 288px;
  padding: 0px 0px;
  position: relative;
  display: block;
}
#delete_tour {
  position: absolute;
  top: 2px;
  left: 163px;
  margin-left: 3px;
  width: 20px;
  height: 20px;
  a {font: small-caps 20px/20px "Arial", bold;}

}

